/*start framwork*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a, a:hover{
    list-style: none;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,li,a,button,input,ol, p{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: black;
}
body{
    color: #fff;
     font-family: 'Lato', sans-serif;
}
.bg-orange{
    background: #FFC61A;
}
.bg-gray{
    background-color: #f5f4f2;
}
.boldfont{
    font-weight: 900;
}
.btn{
    padding: 0.375rem 1.75rem;
    font-size: 22px;
}
.cmn-btn{
    background: #000000;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
.cmn-btn:hover{
    background: #000000;
    color: #FFC61A;

    
}
.btn-orange{
    background-color: #FFC61A;
    color: #000;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;

}
.text-orange{
    color: #FFC61A;
}
.txt-dark{
    color: #000;
}
/*fram work end*/

/*header start*/

header.header {
    background-image: url(../img/header-bg.jpg);
    padding: 30px 0px;
    background-repeat: no-repeat;
    height: 739px;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
    background: #FFC61A;
    border-radius: 15px;
    padding: 4px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    padding: 4px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #000;
    background: #FFC61A;
    border-radius: 15px;
}
.header-info.text-center h3 {
    text-transform: uppercase;
    font-weight: 900;
}
.header-info.text-center h1 {
    font-size: 50px;
    font-weight: 800;
    color: white;
    font-family: 'Lato';
}
.header-info.text-center p {
    letter-spacing: 8px;

}
img.img-fluid {
    top: 50px;
    position: relative;
}
p.text-white.webLink {
    font-weight: bold;
    text-transform: uppercase;
}
/*===================== start cab ======================================*/


section.cab.bg-orange.py-5 {
    height: 708px;
}
p.descrip {
    color: #101010;
}
h4.txt-dark.text-uppercase.font-weight-900 {
    font-weight: 900;
}

h1.txt-dark.text-uppercase.font-weight-900 {
    font-weight: 900;
    
}
.cab-lift.py-5.mt-5 {
    padding: 70px;
}
h1.text-uppercase.font-weight-bold.text-white {
    font-weight: 900;
    background-color: #000;
    padding: 22px;
    font-size: 35px;
}
.cab-right.mt-5 {
    background-color: #fff;
    width: 380px;
}
form.p-4 input {
    width: 49%;
    display: inline-block;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid #e4e4e4;
    border-radius: 0;
}
select.form-control {
    border: none;
    border-bottom: 3px solid #e4e4e4;
    border-radius: 0;
    margin-bottom: 20px;
}
select.form-control {
    border: none;
    border-bottom: 3px solid #e4e4e4;
    border-radius: 0;
}
input.form-control:focus {
    border-color: orange;
    box-shadow: none;
}
select.form-control:focus {border-color: orange;box-shadow: none;}

/*================================== end cab ============================*/


/*==================== card section start =====================*/

h3.text-uppercase.font-weight-bold.text-orange.ourh3 {
    font-weight: bold;
    font-size: 30px;
}

h1.text-uppercase.font-weight-bold.text-dark.traiffsh1 {
    font-weight: 900;
}
.card{
    border-radius: 0px;
    
    margin-top: 50px;
}
.card p{
    color: #101010;
    font-size: 17px;
}
.car-img img {
    margin-top: -132px;
}

.cardstar img {
    margin-left: 104px;
    margin-top: -73px;
    position: absolute;
}
.car-img img {
    margin-top: -140px;
    margin-bottom: 20px;
}
/*===================== card section end ===================================*/

/*========================= content section start ==============================*/
section.contenttexi {
    background-image: url(../img/texi.jpg);
    padding: 30px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 752px;
}
.content-info img {
    position: absolute;
    width: 74px;
}

.contenttext {
    margin-left: 106px;
}

.content-info contenttext {
    position: relative;
    margin-left: 34px;
}
.content-info {
    margin-top: 60px;
    position: relative;
}
.contenttext h4 {
    font-size: 20px;
    font-weight: 900;
}
.contenttext p {
    width: 329px;
}
.content-info img {
    margin-top: -29px;
}
.row.text-center.contentbtn {
    padding-top: 110px;
}
/*========================= content section end ==============================*/

 /*=================== Best Cab SERVICEs start====================== */
.leftbest {
    padding-left: 102px;
}

.bestimg img {
    width: 196px;
    padding: 7px;
}

.besttxt p {
    margin-top: 25px;
    width: 317px;
}
.bestrightimg img {
    /* width: 355px; */
    padding-left: 144px;
    margin-top: -115px;
}

.bestrightimg {
    position: relative;
}

.bestcabtitle h1 {
    padding-bottom: 40px;
}
section.bestcab {
   
    padding-bottom: 50px;
}

 /*=================== Best Cab SERVICEs End ====================== */

  /*=================== testimonial section start ====================== */
.testimonial{
    background-image: url(../img/testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
}
.testitittle{
    padding-bottom: 50px;
}
.col-lg-6.client1 {
    
}

.testi {
    padding: 25px;
    background: #040707;
    border-radius: 40px;
}
.imgtxt {
    padding-left: 92px;
    position: relative;
    top: -28px;
}
.imgtxt {}

.imgname {
    position: relative;
    overflow: hidden;
}

.imgname img {
    padding-top: -10px;
    position: relative;
    top: 46px;
}

 /*=================== testimonial section end ====================== */

  /*=================== contact section start ====================== */
.contactus h1 {
    font-size: 55px;
}

 /*=================== contact section end ====================== */

 /*=================== footer section start ====================== */
footer{
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.borderdiv {
    width: 85%;
    height: 8px;
    margin-bottom: 45px;
}
.footerheading h3 {
    padding-bottom: 36px;
}
.iconsec.text-orange i {
    padding: 8px;
    margin-top: 0px;
}
.footertxt p {
    width: 85%;
}
p.text-orange.userfooter {
    width: 101px;
    padding-bottom: 10px;
}
p.text-orange.userfooter1 {
    width: 101px;
    padding-bottom: 0;
    padding-top: 13px;
}

.icn {
    width: 214px;
    
    float: right;
    margin-top: -78px;
    font-size: 28px;
}

.iconsec.text-orange {
    position: relative;
    padding-top: 30px;
}
.icontxt.text-white p {
    color: white;
}
.iconsec.text-orange.socialicon {
    width: 40px;
    margin-top: -14px;
}

.icontxt.text-white {
    width: 85%;
    float: right;
    margin-top: -163px;
}

.icontxt.text-white p {
    padding-bottom: 10px;
}
.iconsec.text-orange.socialicon i {
    font-size: 20px;
    padding-bottom: 12px;
}
.copyright {
    background: #020202;
}
 /*=================== footer section end ====================== */